<!-- Work in progress -->

<div class="action-bar">
	<div class="title">
		<i class="material-icons" ripple id='menu'>menu</i>
		<h3>Milky</h3>
	</div>
	<div class="icons">
		<i class="material-icons" ripple>search</i>
		<i class="material-icons" ripple>favorite</i>
		<i class="material-icons" ripple>more_vert</i>
	</div>
</div>

<div class="side-nav">
	<header>
		<div class="avatars-container">
				<img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-12/12/17/user_images/webdr10/mattortile-v2-24953-1449958659-0_large.jpg?downsize=715:*&output-format=auto&output-quality=auto" width=70 height=70/>
				<img src="https://img.buzzfeed.com/buzzfeed-static/static/2014-12/17/10/user_images/webdr07/davidnoriega-27944-1418830591-8_large.jpg?downsize=715:*&output-format=auto&output-quality=auto" width=45 height=45/>
		</div>
		<div class="rich-area">
			<a href="#">Jonathan Lee</a>
			<div class="email">
				<a href="">heyfromjonathan@gmail.com</a>
				<i class="material-icons" ripple>arrow_drop_down</i>
			</div>
		</div>
	</header>
	<nav>
		<ul>
			<li ripple><i class="material-icons">inbox</i>Inbox</li>
			<li ripple><i class="material-icons">star</i>Starred</li>
			<li ripple><i class="material-icons">send</i>Sent mail</li>
			<li ripple><i class="material-icons">drafts</i>Drafts</li>
			<hr>
			<li id='subheader'>Options</li>
			<li ripple><i class="material-icons">star</i>Starred</li>
			<li ripple><i class="material-icons">send</i>Sent mail</li>
			<li ripple><i class="material-icons">drafts</i>Drafts</li>
		</ul>
	</nav>
</div>
